/* ---------------------------------------------- Body ---------------------------------------------- */

body{margin:0; padding:0; overflow-x:hidden; font-family: 'Montserrat', sans-serif; background-color: #f7f7ff;}

h1, h2, h3, h4, h5, h6{margin:0; padding: 0;}

::-webkit-scrollbar-track{background-color:#dedede;}
::-webkit-scrollbar{width:0px;}
::-webkit-scrollbar-thumb{background:#646464; border-radius:25%;}

.dropdown-menu::-webkit-scrollbar{width:6px;}

*:focus{outline: 0;}
*{box-sizing: border-box;}

canvas{
  display:block;
}

/* ---- particles.js container ---- */

#particles-js{width: 100%; height: 120vh; background-color: #180d5b; position:absolute;}

.painel-perfil #particles-js{width: 100%; height: 1600px; background-color: #180d5b; position:absolute;}

@media only screen and (min-width:1024px){
	
#Responsive{display:none !important;}
	
/* ---------------------------------------------- Global ---------------------------------------------- */

.content{width: 1100px; position:relative; left: 50%; margin-left: -550px;}
	
.mask-window{background-color: hsla(0,0%,0%,0.50); height: 100vh; width: 100%; z-index: 9998; position: fixed; display: none;}	
	
/* ---------------------------------------------- Header ---------------------------------------------- */

header{height:90px; width: 100%; position:fixed; z-index: 9997; border-bottom: 1px solid #FFF; transition: 2s;} /* #1e2f79 */

.header-active{background-color: hsla(229,60%,30%,0.80);}	
	
header .logo-header{height: 45px; position: absolute; margin-left: 50px; margin-top: 20px; cursor: pointer;}	
	
nav{position:absolute; line-height: 90px; right: 0; margin-right: 360px;}

nav ul{margin:0; padding: 0; display: flex; text-align: center;}

nav li{list-style: none;}

nav a{font-size: 16px; padding: 35px 40px 35px 40px; color:#FFF; cursor:pointer; transition:.5s; text-decoration: none; transition:.5s;}
// hsla(0,0%,100%,0.20) #44e39a
nav a:hover{background-color:hsla(152,74%,58%,0.80); color: #FFF !important;}

.active{background-color:#FF0076; color: #FFF !important;}

.btn-home-experimentar{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 35px; width: 150px; font-size: 14px; position: absolute; right: 0; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-right: 160px;}
	
.btn-home-experimentar:hover{background-color: #18d67f; border:2px solid #18d67f;}	
		
.btn-home-login{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 35px; width: 90px; font-size: 14px; position: absolute; right: 0; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-right: 50px;}	

.btn-home-login:hover{background-color: #06c5d5; border:2px solid #06c5d5;}	

.logo-header{height: 45px; position: absolute; margin-left: 50px; margin-top: 20px; cursor: pointer; z-index: 999;}	

/* ---------------------------------------------- Painel ---------------------------------------------- */

.header-painel{background-color:#180d5b;}
	
.icon-menu{height:36px; width:46px; position:absolute; left:100%; margin-left:-71px; margin-top:29px; cursor: pointer;}

.icon-menu:hover .line-icon{background-color:#18d67f !important;}	

.line-icon{height:5px; width:35px; background-color: #FFF; margin: 5px; transition:.3s;}	

.menu-animate{height:100%; width:400px; background-color:#FFF; margin-top:0px; left:100%; z-index:9999; position:fixed; overflow:auto; transition:.3s; border-bottom:5px solid #18d67f;}

.seta{background: image-url("Painel/Seta.png"); height:30px; width:30px; position:relative; margin-top:20px; margin-left:20px; margin-bottom: 20px; background-size: cover; cursor: pointer;}

.nav{position:relative;}

.nav a{display:flex; font-size:16px; color:#303030; font-family: 'Montserrat', sans-serif; transition-duration:.3s; text-decoration:none; font-weight:normal; line-height:55px; padding-left:100px; font-weight: 500;}

.nav a:hover{background-color:#e3e3e3; color:#409FCB;}

.nav ul, li{list-style:none; margin:0; padding:0;}

.menu-line{height:1px; width:100%; background-color:#d0d0d0; position:relative;}

.active{background-color:#F1F1F1; color: #000 !important;}
	
.img-user-menu{height: 150px; width: 150px; background-color:#FFF; background-size: cover; background-position: center; margin-bottom: 30px; position: relative; left: 50%; margin-left: -75px; border-radius: 100%;}
	
.menu-animate h3{padding-left: 10%; font-size: 15px; padding-bottom: 50px; font-weight: normal; line-height: 25px; color: #FFF;}	
	
.menu-box-user{width: 100%; position: relative; background-color: #313131; background-size: cover; background-position: center; background-image: url("Painel/img-menu-user.png");}	
	
.menu-box-user-mask{width: 100%; background-color:hsla(0,0%,0%,0.20); padding-top: 50px;}	
	
.nav .icons-nav{position: absolute; height:  20px; margin-top: 17px; margin-left: 40px;}	

.painel-invest{min-height:100vh; width:100%; padding-bottom:50px; background-color:#180d5b; background-size: cover; background-repeat: no-repeat; background-position: center; }

.painel-invest input[type=number]{height:40px; width:80px; border:none; border-radius:4px; text-align: center; font-size: 16px; padding-left: 15px;}

.painel-invest h3{font-weight:normal; font-size:40px; padding:30px 0px 30px 0px; color:#FFF; font-weight: 500;}

.painel-invest h1{font-weight:normal; font-size:50px; padding:200px 0px 30px 0px; color:#FFF; font-weight: 500; border-bottom: 2px solid #18d67f; margin-bottom: 80px;}

/* ----- Tabela Modelo 1 ----- */

.painel-invest table{font-weight:normal !important; border:0px !important; border-collapse: collapse; margin-bottom:50px;}
.painel-invest table th{color:#18d67f; font-size:18px; border-bottom:3px solid #18d67f; background-color:hsla(0,0%,0%,0.00) !important; font-weight: 500;}
.painel-invest thead tr{height:60px; background-color:#180d5b;}	
.painel-invest tbody{border-collapse: collapse;} 
.painel-invest tbody tr{height:80px; font-weight:normal; font-size:16px; transition:.3s; border-bottom:1px solid #FFF;}
.painel-invest tbody tr:nth-child(2n+2){background-color:#251589;}
.painel-invest tbody tr:nth-child(2n+1){background-color:#180d5b;}
.painel-invest tbody tr:hover{background-color:hsla(0,0%,100%,0.50) !important;}
.painel-invest table td{color:#FFF; text-align:center; width:20%; transition:.3s;}
.painel-invest tbody td:hover{background-color:hsla(153,80%,47%,0.50);}

.active-tr-table{background-color:#18d67f !important;}

.painel-invest .btn-sinalizar-compra{height:40px; width:200px; background-color:#18d67f; color:#FFF; border:2px solid #18d67f; cursor:pointer; transition:.3s; font-weight:bold; border-radius:4px; font-size:16px;}

.painel-invest .btn-sinalizar-compra:hover{background-color: #12A15F; border:2px solid #12A15F; color:#FFF;}

.painel-invest .btn-sinalizar-venda{height:40px; width:180px; background-color:#ec0042; color:#FFF; border:2px solid #ec0042; cursor:pointer; transition:.3s; font-weight:bold; border-radius:4px; font-size:16px;}

.painel-invest .btn-sinalizar-venda:hover{background-color: #B10031; border:2px solid #B10031; color:#FFF;}

.painel-invest .btn-remover{height:30px; width:100px; background-color:#ec0042; color:#FFF; border:2px solid #ec0042; cursor:pointer; transition:.3s; font-weight:bold; border-radius:4px; font-size:14px;}

.painel-invest .btn-remover:hover{background-color: #B10031; border:2px solid #B10031; color:#FFF;}

.painel-invest select{height:60px; width:300px; background-color:#18d67f; color:#FFF; border:2px solid #18d67f; cursor:pointer; transition:.3s; font-weight:bold; border-radius:4px; font-size:18px; padding-left: 20px; margin-bottom: 30px;}

.painel-invest option{background-color:#FFF; color: #404040; font-weight: bold; cursor: pointer; font-size: 15px;}

.btn-nova-moeda{position:absolute; height:40px; width:250px; background-color:#18d67f; color:#FFF; border:2px solid #18d67f; cursor:pointer; transition:.3s; font-weight:bold; border-radius:4px; font-size:16px; margin-top:-80px; right:0; }

.painel-invest .btn-nova-moeda:hover{background-color: #12A15F; border:2px solid #12A15F; color:#FFF;}

/*Select Painel*/
.btn-group {width: 335px; height: 60px; position: relative; background-color:#18d67f !important; padding-top:10px; transition:.3s; padding-left:20px;padding-right:15px; border-radius:4px;
  margin-bottom:50px; color:#FFF; background: image-url("Painel/imgArrow.png");background-repeat:no-repeat;background-size:20px; background-position:280px 20px;}
.dropdown-toggle:after {position: absolute; top: 14px; right: 10px; width: 0;  height: 0; border: 10px solid transparent; border-color: #fff transparent transparent transparent;}
.dropdown-toggle {color: #FFF; width: 290px; height: 60px; padding: 10px;  text-transform: none; font-weight: 500; margin-bottom: 7px; transition: background 0s ease-out;}
.btn-group:hover {background-color: #12A15F !important; cursor: pointer;}
.dropdown-menu {position: absolute; top: 100%;left: 0;z-index: 1000;float: left;height: 300px;width: 335px; padding: 5px 0; margin: 2px 0 0;list-style: none; font-size: 14px;  text-align: left;
  background-color: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);background-clip: padding-box; overflow:auto; margin-top:10px;}
.dropdown-menu > li > a {padding: 15px 30px; display: block; clear: both; font-weight: 500; color: #333333; white-space: nowrap;text-decoration: none;transition: .3s;}
.dropdown-menu > li > a:hover { background: #efefef;color: #409FCB;}
.dropdown-menu > li { width: 100%;position: relative; margin: 0;}
.caret {display: inline-block;width: 0; position: relative; top: 10px;height: 0;margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-top: 4px solid #999;
  border-right: 4px solid transparent;border-left: 4px solid transparent; float: right; display:none;}
li {list-style: none;}
/*Fim do select painel*/

/* ---------------------------------------------- Painel - Perfil ---------------------------------------------- */

.painel-perfil{min-height:100vh; width:100%; padding-bottom:100px; background-color:#180d5b; text-align:center; color:#FFF;}

.painel-perfil-content{width: 900px; position:relative; left: 50%; margin-left: -450px;}

#dropzone {position: relative; border: 2px solid #FFF; color: white; height: 300px; margin: 50px auto; text-align: center; width: 300px; transition:.3s;}

#dropzone:hover{border: 2px solid #18d67f; background-color: hsla(0,0%,100%,0.30);}

#dropzone:hover div{color:#18d67f;}

#dropzone div {position: absolute; top: 0; right: 0; bottom: 0; left: 0; line-height:300px; font-size:20px;}

#dropzone img {max-width: 95%; max-height: 95%; margin-top:2.5%;}

#dropzone [type="file"] { cursor: pointer; position: absolute; opacity: 0; top: 0; right: 0; bottom: 0; left: 0;}

.painel-perfil input[type=email], .painel-perfil input[type=password], .painel-perfil input[type=text]{height: 50px; width: 500px; padding: 0px 20px; border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00);  font-weight: normal; font-size: 14px; border-radius: 30px; margin: 8px 0px; color: #FFF; transition: .3s;}

.painel-perfil .btn-atualizar-dados{height: 50px; width: 250px; background-color: #18d67f; border-radius: 6px; color: #FFF; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; border:none; cursor: pointer; margin-top: 10px; border:2px solid transparent; transition:.3s;}

.painel-perfil .btn-atualizar-dados:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}

.painel-perfil .btn-cancelar-conta{height: 50px; width: 250px; background-color: #dc1053; border-radius: 6px; color: #FFF; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; border:none; cursor: pointer; margin-top: 20px; border:2px solid transparent; transition:.3s;}

.painel-perfil .btn-cancelar-conta:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #dc1053; color: #dc1053;}

.painel-perfil ::-webkit-input-placeholder{color: #FFF; text-transform: uppercase;}

.painel-perfil input[type=email]:focus, .painel-perfil input[type=password]:focus, .painel-perfil input[type=text]:focus{border:2px solid #18d67f;}

.painel-perfil h1{font-weight:normal; font-size:50px; padding:200px 0px 30px 0px; color:#FFF; font-weight: 500; border-bottom: 2px solid #18d67f; margin-bottom: 60px;}

.painel-perfil h2{font-size: 30px; font-weight: normal; padding-top: 60px;}

.painel-perfil h4{font-size: 20px; font-weight: normal; padding-top:20px; padding-bottom:5px; text-align:left; margin-left:220px;}

/* ---------------------------------------------- Home ---------------------------------------------- */

.home{height: 1400px; width:100%; position:relative; background: image-url("Home/bloco1.png"); background-size: cover; padding-top: 270px; background-position:bottom; background-repeat: no-repeat;}

.home-content-1{position: relative; width: 590px; z-index: 100;}
	
.home-content-1 h1{color: #FFF; font-size: 35px;}	
.home-content-1 h2{color: #FFF; font-size: 20px; font-weight: normal; line-height: 30px;}	
	
.home-img1{height: 500px; right: 0; position: absolute; margin-top: -100px; z-index: 99; margin-right: -50px;}	
	
.btn-home-registrar{border:2px solid #18d67f; background-color: #18d67f; color: #FFF; border-radius: 5px; height: 45px; width: 170px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; text-transform: uppercase;}
	
.btn-home-registrar:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}	
	
.btn-home-login2{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 45px; width: 110px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-left: 20px; text-transform: uppercase;}	
	
.btn-home-login2:hover{color: #06c5d5; border:2px solid #06c5d5;}	

/* ---------------------------------------------- Home - Vantagens ---------------------------------------------- */
	
.home-vantagens{width: 100%; position: relative; margin-top: 200px;}	
	
.home-vantagens-box{height: 250px; width: 47%; background-color: #FFF; float: left; margin: 1.5%; box-shadow: 0px 0px 20px 0px rgba(161,161,161,1); border-radius: 10px;}	
	
.home-vantagens img{width: 160px; position: relative; margin-left: 35px;}
	
.home-vantagens-img-box{height: 100%; position: relative; float: left; margin-right: 30px;}	
	
.home-vantagens h3{padding: 20px; font-weight: normal; font-size: 18px; line-height: 25px;  padding-top: 50px;}	
	
.home-vantagens h3 strong{font-size: 22px;}	
	
.home-vantagens-icon-1{margin-top: 60px;}	
.home-vantagens-icon-2{margin-top: 60px;}	
.home-vantagens-icon-3{margin-top: 35px;}	
.home-vantagens-icon-4{margin-top: 40px;}	

/* ---------------------------------------------- Home - Custos ---------------------------------------------- */

.home-custos{height: 500px; width: 100%; position: relative;}

.home-custos-line{height: 200px; width: 120%; background-color: #eeeded; position: absolute; transform: rotate(-20deg); z-index: -999; margin-left: -10%; margin-top: -100px;}

.home-custos-img{height: 400px; position: absolute; margin-top: 100px;}

.home-custos-box{height: 400px; width: 500px; position: absolute; right: 0; margin-top: 140px;}

.home-custos h1{font-weight: bold; font-size: 35px; line-height: 45px; padding-bottom: 30px;}
.home-custos h3{font-weight: normal; font-size: 18px; line-height: 27px;}
.home-custos h3 a{color: #1d99c7; font-weight: bold;}

/* ---------------------------------------------- Home - Objetivos ---------------------------------------------- */

.home-objetivos{width: 100%; position: relative; color: #FFF; z-index:20;}

.home-objetivos-content{margin-left:-480px !important; position:absolute; z-index:999;}

.home-objetivos-back{width: 100%; position: relative;}

.home-objetivos-box{text-align: center; height: 600px; width: 50%; float: left; position: relative; margin-top:250px;}

.home-objetivos-box img{height: 300px; margin-left:-150px;}

.home-objetivos-box2 img{margin-left:-200px !important;}

.home-objetivos-box h1{font-size: 22px; font-weight: bold; text-align:left; line-height: 30px; padding-bottom: 30px; padding-top: 30px;}

.home-objetivos h3{font-size: 18px; font-weight: normal; text-align: left; line-height:25px;}

/* ---------------------------------------------- Home - Companhia ---------------------------------------------- */

.home-companhia{height:550px; width:100%; background-color:#FFF; clear:both; padding-top:100px;}

.home-companhia img{height:450px; position:absolute; left:0; z-index:20;}

.home-companhia-line{height: 300px; width: 120%; background-color: #eeeded; position: absolute; transform: rotate(-20deg); margin-left: -10%; margin-top: -240px; z-index:19;}

.home-companhia-box{width:400px; position:absolute; right:0; z-index:20; padding-top:40px;}

.home-companhia h1{font-size: 22px; font-weight: bold; text-align:left; line-height: 30px; padding-bottom: 30px; padding-top: 30px;}

.home-companhia h3{font-size: 18px; font-weight: normal; text-align: left; line-height:25px;}

/* ---------------------------------------------- Cadastro ---------------------------------------------- */

.cadastro{height: 100vh; width: 100%; background-color:#180d5b; position: relative; padding-top: 100px; color: #FFF;}

.img-cadastro{height: 110%; margin-top: -14%; position: absolute; right: 0; margin-right: 5%;}

.cadastro-content{position: absolute; height: 450px; width: 600px; top: 50%; margin-top: -200px; margin-left: 7%;}

.cadastro h1{text-transform: uppercase; font-size:22px; font-weight: normal; line-height: 50px; text-transform: uppercase;}

.cadastro h2{text-transform: uppercase; font-size:32px; font-weight: bold; text-transform: uppercase; line-height: 50px;}

.cadastro h3{text-transform: uppercase; font-size:22px; font-weight: normal; text-transform: uppercase; color: #06f03d; line-height: 50px; padding-bottom: 30px;}

.cadastro input[type=email], .cadastro input[type=password], .cadastro input[type=text]{height: 50px; width: 300px; padding: 0px 20px; border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00);  font-weight: normal; font-size: 14px; border-radius: 30px; margin: 8px 0px; color: #FFF; transition: .3s;}

.cadastro input[type=submit]{height: 50px; width: 300px; background-color: #18d67f; border-radius: 6px; color: #FFF; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; font-size: 16px; border:none; cursor: pointer; margin-top: 40px; border:2px solid transparent; transition:.3s;}

.cadastro input[type=submit]:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}

.cadastro ::-webkit-input-placeholder{color: #FFF; text-transform: uppercase;}

.cadastro input[type=email]:focus, .cadastro input[type=password]:focus, .cadastro input[type=text]:focus{border:2px solid #18d67f;}

.cadastro .erro-mensagem h2{font-size: 15px; margin-top: 30px;}

.cadastro .erro-mensagem ul{margin:0; padding: 0;}

/* ---------------------------------------------- Login ---------------------------------------------- */

.login{height: 100vh; width: 100%; background-color:#180d5b; position: relative; padding-top: 100px; color: #FFF;}

.img-login{height: 80%; margin-top: 2%; position: absolute; right: 0; margin-right: 5%;}

.login-content{position: absolute; height: 450px; width: 700px; top: 50%; margin-top: -180px; margin-left: 7%;}

.login h1{text-transform: uppercase; font-size:22px; font-weight: normal; line-height: 50px; text-transform: uppercase;}

.login h2{text-transform: uppercase; font-size:32px; font-weight: bold; text-transform: uppercase; line-height: 50px;}

.login h3{font-size: 14px; font-weight: normal; padding-top: 30px;}

.login h3 a{text-decoration: none; color: #FFF; font-weight: bold; transition:.3s;}

.login h3 a:hover{color:#06c5d5;}

.login input[type=email], .login input[type=password]{height: 50px; width: 300px; padding: 0px 20px; border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00);  font-weight: normal; font-size: 14px; border-radius: 30px; margin: 8px 0px; color: #FFF; transition: .3s;}

.login input[type=submit]{height: 50px; width: 200px; background-color: #18d67f; border-radius: 6px; color: #FFF; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; font-size: 16px; border:none; cursor: pointer; margin-top: 40px; border:2px solid transparent; transition:.3s;}

.login input[type=submit]:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}

.login ::-webkit-input-placeholder{color: #FFF; text-transform: uppercase;}

.login input[type=email]:focus, .login input[type=password]:focus{border:2px solid #18d67f;}

.login .erro-mensagem h2{font-size: 15px; margin-top: 30px;}

.login .erro-mensagem ul{margin:0; padding: 0;}

/* ---------------------------------------------- Contato ---------------------------------------------- */	
	
.contato{height:220px; width:100%; background-image: linear-gradient(to right, #fca10f , #e8275b); color:#FFF;}	
	
.contato h1{font-size:28px; padding-top:50px;}	
.contato h2{font-size:20px; padding-top:15px; font-weight:normal; line-height:30px;}		
	
.contato .btn-contato-sb{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 45px; height: 45px; width: 160px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-left: 20px; position:absolute; margin-top:-55px; right:0; }	
	
.contato .btn-contato-sb:hover{background-color:#FFF; color:#e8275b;}	
	
.erro{height:50px; width: 100%; position:fixed; background-color: #B90003; text-align: center; top: 100%; margin-top: -50px; z-index: 9999; line-height: 50px; color:#FFF; font-family: 'Lato', sans-serif; font-size: 18px !important; font-weight: normal; display:none;
}
	
.success{height:50px; width: 100%; position:fixed; background-color: #2AB900; text-align: center; top: 100%; margin-top: -50px; z-index: 9999; line-height: 50px; display:none; color:#FFF; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: normal;}
		
/* ---------------------------------------------- Footer ---------------------------------------------- */	
		
footer{height:570px; width:100%; position:relative; background-image: linear-gradient(to right, #1d3e80 , #1895a9); color:#FFF; padding-top:50px;}		

footer .logo-footer{height: 60px; position: absolute; margin-top: 140px; cursor: pointer; z-index: 999;}

.footer-content{width: 1100px; position:relative; left: 50%; margin-left: -550px; padding:40px 0px;}
	
.footer-redes{position:absolute; right:0; margin-top:60px;}	

footer h2{font-size:28px;}
footer h3{font-weight:normal; font-size:22px; padding-top:15px;}
footer h4{font-size:20px; padding-bottom:15px; line-height:30px;}
footer h5{font-size:16px; font-weight:normal; line-height:50px; margin-left:40px;}

footer h5 a{color:#FFF; text-decoration:none; transition:.3s;}
footer h5 a:hover{color:#18d67f;}

footer .btn-home-registrar{border:2px solid #18d67f; background-color: #18d67f; color: #FFF; border-radius: 5px; height: 45px; width: 170px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; text-transform: uppercase; position:absolute; margin-top:-55px; right:0; margin-right:130px;}
	
footer .btn-home-login2{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 45px; width: 110px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-left: 20px; text-transform: uppercase; position:absolute; margin-top:-55px; right:0;}	

.footer-line{height:1px; width:100%; position:absolute; background-color:#FFF; margin-top:200px;}

.lkd-icon-footer{height:30px; position:absolute; margin-top:8px;}

}



