/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @charset "utf-8";

/* ---------------------------------------------- Body ---------------------------------------------- */

body{margin:0; padding:0; overflow-x:hidden; font-family: 'Montserrat', sans-serif;}

h1, h2, h3, h4, h5, h6{margin:0; padding: 0;}

::-webkit-scrollbar-track{background-color:#000000;}
::-webkit-scrollbar{width:0px;}
::-webkit-scrollbar-thumb{background:#646464;}

*:focus{outline: 0;}
*{box-sizing: border-box;}

/*textarea, input[type="text"], input[type="button"], input[type="submit"] { -webkit-appearance: none; border-radius: 0px !important; box-shadow: 0 0 0 0;}*/
/*textarea, input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {border-radius: 0px !important;}*/

@media only screen and (min-width:1024px){
	
#Responsive{display:none !important;}
	
/* ---------------------------------------------- Global ---------------------------------------------- */

.content{height:100%; width: 1100px; position:relative; left: 50%; margin-left: -550px;}
	
.mask-window{background-color: hsla(0,0%,0%,0.50); height: 100vh; width: 100%; z-index: 9998; position: fixed; display: none;}	
	
/* ---------------------------------------------- Header ---------------------------------------------- */

header{height:90px; width: 100%; position:fixed; z-index: 9997; border-bottom: 1px solid #FFF; transition: 2s;} /* #1e2f79 */

.header-active{background-color: hsla(229,60%,30%,0.70);}	
	
header .logo-header{height: 45px; position: absolute; margin-left: 50px; margin-top: 20px; cursor: pointer;}	
	
nav{position:absolute; line-height: 90px; right: 0; margin-right: 360px;}

nav ul{margin:0; padding: 0; display: flex; text-align: center;}

nav li{list-style: none;}

nav a{font-size: 16px; padding: 35px 40px 35px 40px; color:#FFF; cursor:pointer; transition:.5s; text-decoration: none; transition:.5s; border-bottom: 2px solid transparent;}

nav a:hover{background-color:hsla(0,0%,100%,0.20); color: #FFF !important; border-bottom: 1px solid #44e39a; color: #44e39a !important;}

.active{background-color:#FF0076; color: #FFF !important;}

.btn-home-experimentar{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 35px; width: 150px; font-size: 14px; position: absolute; right: 0; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-right: 160px;}
	
.btn-home-experimentar:hover{background-color: #06c5d5; border:2px solid #06c5d5;}	
	
.btn-home-login{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 35px; width: 90px; font-size: 14px; position: absolute; right: 0; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-right: 50px;}	

.btn-home-login:hover{background-color: #18d67f; border:2px solid #18d67f;}	
	
.logo-header{height: 45px; position: absolute; margin-left: 50px; margin-top: 20px; cursor: pointer; z-index: 999;}	

/* ---------------------------------------------- Painel ---------------------------------------------- */

.header-painel{background-color: #252525;}	
	
.icon-menu{height:36px; width:46px; position:absolute; left:100%; margin-left:-71px; margin-top:29px; cursor: pointer;}

.icon-menu:hover .line-icon{background-color:#18d67f !important;}	

.line-icon{height:5px; width:35px; background-color: #FFF; margin: 5px; transition:.3s;}	

.menu-animate{height:100%; width:400px; background-color:#FFF; margin-top:0px; left:100%; z-index:9999; position:fixed; overflow:auto; transition:.3s; border-bottom:5px solid #18d67f;}

.seta{background-image:url("/assets/Painel/Seta.png"); height:30px; width:30px; position:relative; margin-top:20px; margin-left:20px; margin-bottom: 20px; background-size: cover; cursor: pointer;}

.nav{position:relative;}

.nav a{display:flex; font-size:16px; color:#303030; font-family: 'Montserrat', sans-serif; transition-duration:.3s; text-decoration:none; font-weight:normal; line-height:55px; padding-left:100px; font-weight: 500;}

.nav a:hover{background-color:#e3e3e3;}

.nav ul, li{list-style:none; margin:0; padding:0;}

.menu-line{height:1px; width:100%; background-color:#d0d0d0; position:relative;}

.active{background-color:#F1F1F1; color: #000 !important;}
	
.painel-invest{padding-top: 150px;}	
	
.img-user-menu{height: 100px; width: 100px; background-color:#FFF; background-size: cover; background-position: center; margin-bottom: 30px; position: relative; left: 50%; margin-left: -50px; border-radius: 100%;}
	
.menu-animate h3{padding-left: 10%; font-size: 15px; padding-bottom: 50px; font-weight: normal; line-height: 25px; color: #FFF;}	
	
.menu-box-user{width: 100%; position: relative; background-color: #313131; background-size: cover; background-position: center; background-image: url("/assets/Painel/img-menu-user.png");}	
	
.menu-box-user-mask{width: 100%; background-color:hsla(0,0%,0%,0.20); padding-top: 50px;}	
	
.nav .icons-nav{position: absolute; height:  20px; margin-top: 17px; margin-left: 40px;}	
	
/* ---------------------------------------------- Home ---------------------------------------------- */

.home{height: 1400px; width:100%; position:relative; background-image: url("/assets/Home/bloco1.png"); background-size: cover; padding-top: 270px; background-position:bottom; background-repeat: no-repeat;}

.home-content-1{position: relative; width: 590px; z-index: 100;}
	
.home-content-1 h1{color: #FFF; font-size: 35px;}	
.home-content-1 h2{color: #FFF; font-size: 20px; font-weight: normal; line-height: 30px;}	
	
.home-img1{height: 500px; right: 0; position: absolute; margin-top: -100px; z-index: 99; margin-right: -50px;}	
	
.btn-home-registrar{border:2px solid #18d67f; background-color: #18d67f; color: #FFF; border-radius: 5px; height: 45px; width: 170px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; text-transform: uppercase;}
	
.btn-home-registrar:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}	
	
.btn-home-login2{border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00); color: #FFF; border-radius: 5px; height: 45px; width: 110px; font-size: 14px; font-weight: bold; cursor: pointer; transition: .3s; margin-top: 27px; margin-left: 20px; text-transform: uppercase;}	
	
.btn-home-login2:hover{color: #06c5d5; border:2px solid #06c5d5;}	

/* ---------------------------------------------- Home - Vantagens ---------------------------------------------- */
	
.home-vantagens{width: 100%; position: relative; margin-top: 200px;}	
	
.home-vantagens-box{height: 250px; width: 47%; background-color: #FFF; float: left; margin: 1.5%; box-shadow: 0px 0px 20px 0px rgba(161,161,161,1); border-radius: 10px;}	
	
.home-vantagens img{width: 160px; position: relative; margin-left: 35px;}
	
.home-vantagens-img-box{height: 100%; position: relative; float: left; margin-right: 30px;}	
	
.home-vantagens h3{padding: 20px; font-weight: normal; font-size: 18px; line-height: 25px;  padding-top: 50px;}	
	
.home-vantagens h3 strong{font-size: 22px;}	
	
.home-vantagens-icon-1{margin-top: 60px;}	
.home-vantagens-icon-2{margin-top: 60px;}	
.home-vantagens-icon-3{margin-top: 35px;}	
.home-vantagens-icon-4{margin-top: 40px;}	

/* ---------------------------------------------- Cadastro ---------------------------------------------- */

.cadastro{height: 100vh; width: 100%; background-color:#180d5b; position: relative; padding-top: 100px; color: #FFF;}

.img-cadastro{height: 110%; margin-top: -14%; position: absolute; right: 0; margin-right: 5%;}

.cadastro-content{position: absolute; height: 450px; width: 600px; top: 50%; margin-top: -200px; margin-left: 7%;}

.cadastro h1{text-transform: uppercase; font-size:22px; font-weight: normal; line-height: 50px; text-transform: uppercase;}

.cadastro h2{text-transform: uppercase; font-size:32px; font-weight: bold; text-transform: uppercase; line-height: 50px;}

.cadastro h3{text-transform: uppercase; font-size:22px; font-weight: normal; text-transform: uppercase; color: #06f03d; line-height: 50px; padding-bottom: 30px;}

.cadastro input[type=email], .cadastro input[type=password], .cadastro input[type=text]{height: 50px; width: 300px; padding: 0px 20px; border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00);  font-weight: normal; font-size: 14px; border-radius: 30px; margin: 8px 0px; color: #FFF; transition: .3s;}

.cadastro input[type=submit]{height: 50px; width: 300px; background-color: #18d67f; border-radius: 6px; color: #FFF; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; font-size: 16px; border:none; cursor: pointer; margin-top: 40px; border:2px solid transparent; transition:.3s;}

.cadastro input[type=submit]:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}

::-webkit-input-placeholder{color: #FFF; text-transform: uppercase;}

.cadastro input[type=email]:focus, .cadastro input[type=password]:focus{border:2px solid #18d67f;}

.cadastro .erro-mensagem h2{font-size: 15px; margin-top: 30px;}

.cadastro .erro-mensagem ul{margin:0; padding: 0;}

/* ---------------------------------------------- Login ---------------------------------------------- */

.login{height: 100vh; width: 100%; background-color:#180d5b; position: relative; padding-top: 100px; color: #FFF;}

.img-login{height: 80%; margin-top: 2%; position: absolute; right: 0; margin-right: 5%;}

.login-content{position: absolute; height: 450px; width: 700px; top: 50%; margin-top: -180px; margin-left: 7%;}

.login h1{text-transform: uppercase; font-size:22px; font-weight: normal; line-height: 50px; text-transform: uppercase;}

.login h2{text-transform: uppercase; font-size:32px; font-weight: bold; text-transform: uppercase; line-height: 50px;}

.login h3{font-size: 14px; font-weight: normal; padding-top: 30px;}

.login h3 a{text-decoration: none; color: #FFF; font-weight: bold; transition:.3s;}

.login h3 a:hover{color:#06c5d5;}

.login input[type=email], .login input[type=password]{height: 50px; width: 300px; padding: 0px 20px; border:2px solid #FFF; background-color: hsla(0,0%,0%,0.00);  font-weight: normal; font-size: 14px; border-radius: 30px; margin: 8px 0px; color: #FFF; transition: .3s;}

.login input[type=submit]{height: 50px; width: 200px; background-color: #18d67f; border-radius: 6px; color: #FFF; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; font-size: 16px; border:none; cursor: pointer; margin-top: 40px; border:2px solid transparent; transition:.3s;}

.login input[type=submit]:hover{background-color: hsla(0,0%,0%,0.00); border:2px solid #18d67f; color: #18d67f;}

::-webkit-input-placeholder{color: #FFF; text-transform: uppercase;}

.login input[type=email]:focus, .login input[type=password]:focus{border:2px solid #18d67f;}

.login .erro-mensagem h2{font-size: 15px; margin-top: 30px;}

.login .erro-mensagem ul{margin:0; padding: 0;}

/* ---------------------------------------------- Contato ---------------------------------------------- */	
	
.erro{height:50px; width: 100%; position:fixed; background-color: #B90003; text-align: center; top: 100%; margin-top: -50px; z-index: 9999; line-height: 50px; color:#FFF; font-family: 'Lato', sans-serif; font-size: 18px !important; font-weight: normal; display:none;
}
	
.success{height:50px; width: 100%; position:fixed; background-color: #2AB900; text-align: center; top: 100%; margin-top: -50px; z-index: 9999; line-height: 50px; display:none; color:#FFF; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: normal;}
		
	

}



