
<div class="mask-window"></div>

<!--------------------------------------------------- Header --------------------------------------------------->

<header class="header-painel">
	<img src="/assets/Home/logo.png" class="logo-header">
	<div class="icon-menu">
		<div class="line-icon"></div>
		<div class="line-icon"></div>
		<div class="line-icon"></div>		
	</div>
</header>    

<div class="menu-animate">
	<h3>Bem Vindo, <%= @user.email %></h3>
    <div class="menu-line"></div>
    <div class="nav">
        <ul>
			<% if @authenticate %>
				<% if @user.kind == 'admin' %>
					<%= link_to 'Admin', rails_admin_path, method: :get %>
					<div class="menu-line"></div>
				<% end %>
			 	<%= link_to "Perfil", edit_user_registration_path %>
		     	<div class="menu-line"></div>
		     	<%= link_to "Sair", destroy_user_session_path, method: :delete %>
		     	<div class="menu-line"></div>
		    <% end %>
			<div class="menu-line"></div>
        </ul>
    </div>
</div>

<section class="painel-invest">

	<article class="content">

		
		
		<div id="vue"></div>

	</article>

</section>


